@import "../../GlobalStyles/scss/variables/breakpoints";
@import "../../GlobalStyles/scss/variables/colors";

.block {
  border-bottom: 1px solid $brand-color-5;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $screen-xl;
  min-width: 20em;
  padding: 0 1.5rem;
}
