@import "../../../components/GlobalStyles/scss/variables/colors";

.block {
  margin-bottom: .5rem;
  padding: 0;
  width: calc(25% - .5rem);

  + .block {
    margin-left: .5rem;

    &:nth-child(4n + 1) {
      margin-left: 0;
    }
  }
}

.button {
  border: 1px solid $brand-color-1;
  border-radius: .25rem;
  cursor: pointer;
  font-size: 1em;
  padding: .75rem 1rem;
  text-align: center;
  width: 100%;

  &--selected {
    background-color: $brand-color-1;
  }
}
