@import "../../../styles/variables/colors";

.block {
  border: 1px solid $brand-color-1;
  border-radius: .25rem;
  padding: .75rem 1rem;
  margin-bottom: .5rem;
  text-align: center;
  width: calc(25% - .5rem);

  + .block {
    margin-left: .5rem;

    &:nth-child(4n + 1) {
      margin-left: 0;
    }
  }

  &--selected {
    background-color: $brand-color-1;
  }
}
