@import "../GlobalStyles/scss/variables/colors";
@import "../GlobalStyles/scss/mixins/icons";

.block {
  background-color: $brand-color-2;
  border-radius: 2rem;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  line-height: 1;
  margin: 0 auto;
  min-width: 12.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &--with-logo {
    @include icon('sr-logo', 'before');

    &::before {
      margin-right: 0.5em;
    }
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: rgba(38, 2, 0, 0.4) 0 2px 4px 0;
    text-decoration: none;
  }
}
