@import "../../../styles/variables/colors";

.block {
  border-bottom: 1px solid $brand-color-4;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.heading {
  color: $brand-color-5;
  font-style: italic;
}

.list {
  display: flex;
}

.list-item {
  dt {
    color: $brand-color-2;
    margin-bottom: .5rem;
  }

  dd {
    margin-left: 0;
  }

  + .list-item {
    margin-left: 2em;
  }
}
