@font-face {
  font-family: 'sr-icons';
  font-style: normal;
  font-weight: normal;
  src: url('sr-icons/sr-icons.ttf?eucf6x') format('truetype'),
  url('sr-icons/sr-icons.woff?eucf6x') format('woff'),
  url('sr-icons/sr-icons.svg?eucf6x#srx-icons') format('svg');
}
