// Styrene B
@font-face {
  font-family: 'Styrene';
  src: url('styrene/StyreneB-Light-Web.woff2') format('woff2'),
  url('styrene/StyreneB-Light-Web.woff') format('woff');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene';
  src: url('styrene/StyreneB-Bold-Web.woff2') format('woff2'),
  url('styrene/StyreneB-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene';
  src: url('styrene/StyreneB-Regular-Web.woff2') format('woff2'),
  url('styrene/StyreneB-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene';
  src: url('styrene/StyreneB-BoldItalic-Web.woff2') format('woff2'),
  url('styrene/StyreneB-BoldItalic-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}
