@import "../../GlobalStyles/scss/variables/colors";

.main {
  background-color: $brand-color-6;
  padding: 1.5rem 2rem;

  section {
    margin: 0 auto;
    max-width: 32rem;
    text-align: center;
  }
}
