@import "../../../components/GlobalStyles/scss/variables/colors";

.block {
  border-bottom: 1px solid $brand-color-4;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.heading {
  color: $brand-color-5;
  font-style: italic;
}
