@import "../../../styles/variables/colors";

.block {
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.heading {
  color: $brand-color-5;
  font-style: italic;
}

.list {
  border: 1px solid $brand-color-1;
  list-style: none;
  margin: 0;
  padding: .25rem;
}
