// neutral
$brand-color-neutral-70: #fff;
$brand-color-neutral-60: #f8f8f8;
$brand-color-neutral-50: #f3f3f3;
$brand-color-neutral-45: #e6e6e6;
$brand-color-neutral-40: #c4c4c4;
$brand-color-neutral-35: #a1a1a1;
$brand-color-neutral-30: #727272;
$brand-color-neutral-20: #2f2f2f;
$brand-color-neutral-10: #000;

// accent
$brand-color-accent-1: #0077d9;
$brand-color-accent-2: #ba4c27;
$brand-color-accent-3: #E256E6;
$brand-color-accent-4: #DD1349;

$rebrand-color-1: #BCD8ED;
$rebrand-color-2: #266180;
$rebrand-color-3: #F45657;
$rebrand-color-4: #4E5D61;
$rebrand-color-5: #6391AA;
$rebrand-color-6: #F2F2F2;
