$screen-xs: 30em; /* 480px */
$screen-sm: 40em; /* 640px */
$screen-md: 47.75em; /* 764px */
$screen-lg: 64em; /* 1024px */
$screen-lg-max: 75em; /* 1200px */


/**
Toolbar specific screen sizes
**/
$toolbar-screen-xxs: 32.5em; /* 520px */
$toolbar-screen-xs: 35.2em; /* 563px */
$toolbar-screen-sm: 43em; /* 688px */
$toolbar-screen-md: 45.2em; /* 723px */
$toolbar-screen-lg: 55.2em; /* 883px */