@import "../../styles/variables/colors";

.block {
  margin: 0 auto;
  max-width: 75rem;
  min-height: 50vh;
}

.heading {
  border-bottom: 1px solid $brand-color-4;
  padding: 0 2rem .5rem;
}

.list {
  display: flex;
}

.list-item {
  + .list-item {
    border-top: 1px solid $brand-color-4;
  }
}
