// Use this mixin to override the default styles for any <h> element
// (ie - make an <h2> look like an <h1> etc)

@mixin heading-override($heading-override) {
  @if $heading-override == h1 {
    font-size: 1.875em;
    line-height: 1.2;
  } @else if $heading-override == h2 {
    font-size: 1.875em;
    line-height: 1.2;
    text-transform: none;
  } @else if $heading-override == h3 {
    color: $brand-color-neutral-30;
    font-size: 1.375em;
    line-height: 1.363636363636364;
    text-transform: none;
  } @else if $heading-override == h4 {
    font-size: 1em;
    line-height: 1.45;
    text-transform: none;
  }
}
