@mixin hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

@mixin default-transition($prop) {
  transition: $prop .35s ease;
}

@mixin skew($modifier: both, $width: 1em) {
  position: relative;

  &:before,
  &:after {
    background-color: inherit;
    content: '';
    height: 100%;
    position: absolute;
    transform: skewX(-25deg);
    width: $width;
    z-index: -10;
  }

  @if $modifier == 'both' {
    &:before {
      left: 0;
      transform-origin: top left;
    }

    &:after {
      right: 0;
      transform-origin: bottom right;
    }
  }

  @if $modifier == 'before' {
    &:before {
      left: 0;
      transform-origin: top left;
    }

    &:after {
      display: none;
    }
  }

  @if $modifier == 'after' {
    &:before {
      display: none;
    }

    &:after {
      right: 0;
      transform-origin: bottom right;
    }
  }
}
